# Ignore build artifacts and compiled files
.architect
build/
ext/
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
.arch-internal-preview.css

# Bootstrap files
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp

# Sencha ExtJS files
classic.json
classic.jsonp
modern.json
modern.jsonp

# Ignore development-specific files
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Ignore package managers and dependencies
node_modules/
bower_components/
yarn-error.log
npm-debug.log

# Ignore editor-specific files
*.sublime*

# Ignore design files
psd
thumb
sketch
